## {{ defaultValue endpoint.metadata.title (append endpoint.methods.[0] (append " " endpoint.uri)) }}

{{> components.badges.auth authenticated=endpoint.metadata.authenticated }}

{{{ defaultValue endpoint.metadata.description '' }}}

> Example request:

{{#each exampleLanguages }}
```{{this}}
{{> (append "partials.example-requests." this) endpoint=../endpoint baseUrl=../baseUrl}}

```

{{/each}}

{{#if endpoint.responses.length }}
{{#each endpoint.responses }}
> Example response ({{defaultValue this.description this.status}}):

```json
{{{ this.content }}}
```
{{/each}}
{{/if}}

### Request
{{#each endpoint.methods }}
{{> components.badges.http-method method=this }} **`{{ ../this.uri }}`**

{{/each}}
{{#if (isNonEmptyObject endpoint.urlParameters) }}
<h4 class="fancy-heading-panel"><b>URL Parameters</b></h4>
{{#each endpoint.urlParameters }}
<p>
{{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
</p>
{{/each}}
{{/if}}
{{#if (isNonEmptyObject endpoint.queryParameters) }}
<h4 class="fancy-heading-panel"><b>Query Parameters</b></h4>
{{#each endpoint.queryParameters }}
<p>
{{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
</p>
{{/each}}
{{/if}}
{{#if (isNonEmptyObject endpoint.nestedBodyParameters) }}
<h4 class="fancy-heading-panel"><b>Body Parameters</b></h4>
{{> partials.body-parameters bodyParameters=endpoint.nestedBodyParameters }}
{{/if}}

{{#if (isNonEmptyObject endpoint.responseFields) }}
<h4 class="fancy-heading-panel"><b>Response Fields</b></h4>
{{#each endpoint.responseFields }}
<p>
{{> components.field-details name=this.name type=this.type required=true description=this.description }}
</p>
{{/each}}
{{/if}}
