## {{ defaultValue route.metadata.title route.uri}}

{{> components.badges.auth authenticated=route.metadata.authenticated }}

{{{ defaultValue route.metadata.description '' }}}

{{#if route.responses.length }}
{{#each route.responses }}
> Example response ({{defaultValue this.description 200}}):
```json
{{{ this.content }}}
```
{{/each}}
{{/if}}

### Request
{{#each route.methods }}
    {{> components.badges.http-method method=this }} **`{{ ../this.uri }}`**

    {{/each}}
    {{#if route.urlParameters.length }}
    <h4 class="fancy-heading-panel"><b>URL Parameters</b></h4>
    {{#each route.urlParameters }}
    {{> components.field-details name=this.name type=null required=this.required description=this.description }}
{{/each}}
{{/if}}
{{#if route.queryParameters.length }}
        <h4 class="fancy-heading-panel"><b>Query Parameters</b></h4>
    {{#each route.queryParameters }}
        {{> components.field-details name=this.name type=null required=this.required description=this.description }}
    {{/each}}
{{/if}}
{{#if route.bodyParameters.length }}
        <h4 class="fancy-heading-panel"><b>Body Parameters</b></h4>
    {{#each route.bodyParameters }}
        {{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
    {{/each}}
{{/if}}

{{#if route.responseFields.length }}
        <h4 class="fancy-heading-panel"><b>Response Fields</b></h4>
    {{#each route.responseFields }}
        {{> components.field-details name=this.name type=this.type required=true description=this.description }}
    {{/each}}
{{/if}}
